@layer components {
    .word_container{
        @apply flex flex-col gap-3;
        border: 2px solid gray;
        padding: 10px;
        margin: 10px;
    }
    .word_header{
        @apply font-medium text-3xl flex gap-2 items-center;
        color: var(--primary-color);
    }
    .word_subtitle{
        @apply text-sm italic;
    }
    .word_special{
        @apply text-base font-normal;
    }
    .word_meaning{
        @apply font-medium flex gap-2 ;
    }
    .word_icon{
        color: var(--primary-color);
        transform: translateY(4px)
    }
    .word_vietnamese{
        @apply font-normal;
        color: var(--primary-color);
    }
    .button_container{
        @apply flex justify-end gap-3;
    }
    .word_btn{
        @apply flex items-center p-1 rounded-full;
        border: 2px solid var(--primary-color);
        /* background-color: var(--primary-color); */
        /* color: white; */
    }
    .word_btn:hover{
        background-color: var(--primary-color);
        color: white;
    }
}