@layer components {
    .word_container{
        @apply flex flex-col gap-3;
        border: 2px solid gray;
        padding: 10px;
        margin: 10px;
    }
    .word_header{
        @apply font-medium text-2xl lg:text-3xl flex gap-2 items-center;
        color: var(--primary-color);
    }
    .word_subtitle{
        @apply text-xs md:text-sm italic;
    }
    .word_special{
        @apply text-sm md:text-base font-normal;
    }
    .word_meaning{
        @apply font-medium text-sm md:text-base flex gap-2 ;
    }
    .word_icon{
        color: var(--primary-color);
        transform: translateY(4px)
    }
    .word_vietnamese{
        @apply font-normal text-base md:text-lg;
        color: var(--primary-color);
    }
    .button_container{
        @apply flex justify-end gap-3;
    }
}