@layer components {
    .form-register_container {
        @apply flex justify-center md:pt-100;
        background-color: var(--bg-container-login-color);
    }

    .form_register {
        @apply flex flex-col gap-5 w-4/5 lg:w-2/5 mt-50 mb-50;
        background-color: var(--white-color);
        padding: 10px 5%;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
    }

    .form-header {
        @apply text-3xl font-medium;
    }

    .invalid-message{
        @apply text-sm;
        height: 10px;
        color: red;
    }
}