@layer components {

    .form-adding_container{
        @apply flex justify-center lg:mt-100 mb-50;
    }

    .form_adding{
        @apply flex flex-col items-center gap-5 mt-100 lg:mt-0 w-4/5 lg:w-1/2;
    }

    .form_section{
        @apply flex flex-col w-full;
    }

    .form-adding_label{
        @apply font-medium;
        color: var(--primary-color);
    }

    .form-radio{
        @apply flex flex-col md:flex-row md:gap-10;
    }
    .form-radio_section{
        @apply flex gap-4; 
    }

    .form_input{
        @apply py-2 px-5;
        border: 2px solid var(--border-input-color);
        border-radius: 10px;
        outline:none;
    }
    .form_input:focus{
        border: 2px solid var(--primary-color-hover);
    }

    .form-defs_container{
        @apply flex flex-col gap-5 my-3;
    }
    .form-defs_section{
        @apply flex flex-col;
    }
}