<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Dictionary</title>
</head>

<body style="height: 1000px;">
    <div class="nav">
        <form class="container-fluid">
            <div class="container-fluid">
                <a class="navbar-brand" href="/addWord">Add Word</a>
                <a class="navbar-brand" href="/listAllWord">List all word</a>
            </div>
        </form>
        <div class="header container text-center">
            <h1>Dictionary</h1>
        </div>
        <div class="search_container container">
            <form action="/handleSearchWord" method="post">
                <label class="fw-bold">Find your word</label>
                <div class="d-flex">
                    <input class="form-control" name="search_word" id="search_bar" autocomplete="on">
                    <button class="btn w-auto" type="submit"><i class="bi bi-search-heart"></i></button>
                </div>
            </form>
            <!-- <div class="tooltip_container w-50" id="tooltip_container">
                <form action="/handleGetWord" method="get" class="d-flex flex-column" id="tooltip">
                    <button class=" tooltip_word">1</button>
                    <button class=" tooltip_word">2</button>
                </form>
            </div> -->
        </div>

        <script src="/javascript/handleGetWord.js"></script>

</body>

</html>